# 1. SQLite
- Is a relational database based on SQL language but optimized for use in small environments

There are a couple of ways you could choose to create databases for your projects.


### 1.1 You could use SQLite's commands to store your parsed texts. For example:

In [74]:
import sqlite3

connection = sqlite3.connect("mydatabase.db") # you can also call it mydatabase.sqlite

cursor = connection.cursor()

#cursor.execute("CREATE TABLE hearing(id INTEGER PRIMARY KEY, title TEXT);")

cursor.execute("INSERT INTO hearing VALUES (1, 'congressional hearing');")

cursor.execute("INSERT INTO hearing VALUES (2, 'senate hearing');")

connection.close()

### 1.2  Store your parsed data into CSV files and then convert the CSV files to an SQlite file [Recommended] . 
Have a look at the CSV files we will use for our experiment today. We can use pandas to get the files and have a peek at what is in each of them.

We have 4 files. You can think of them as tables.

Hearing

Speech

Speaker

Person

In [57]:
import pandas as pd
hearings = pd.read_csv("csv/hearing.csv")
hearings.head()

,hearing_id,committee_id,subcommittee_id,hearing_title,is_appropriation,is_nomination,date,url,file,extent
0,19196,354,354,AMERICAN FOOD AID: WHY REFORM MATTERS,NO,NO,4/15/2015,https://www.gpo.gov/fdsys/pkg/CHRG-114shrg9684...,114th Congress (2015 - 2016)_Senate Hearings_C...,77 p.
1,19197,354,354,THE ADMINISTRATION'S STRATEGY IN AFGHANISTAN,NO,NO,12/16/2015,https://www.gpo.gov/fdsys/pkg/CHRG-114shrg2094...,114th Congress (2015 - 2016)_Senate Hearings_C...,78 p.
2,19198,354,354,UNITED NATIONS PEACEKEEPING AND OPPORTUNITIES ...,NO,NO,12/9/2015,https://www.gpo.gov/fdsys/pkg/CHRG-114shrg2303...,114th Congress (2015 - 2016)_Senate Hearings_C...,67 p.
3,19199,354,354,THE FIGHT AGAINST ISIS: BUILDING THE COALITION...,NO,NO,2/25/2015,https://www.gpo.gov/fdsys/pkg/CHRG-114shrg9936...,114th Congress (2015 - 2016)_Senate Hearings_C...,47 p.
4,19200,354,354,ENDING MODERN SLAVERY: WHAT IS THE BEST WAY FO...,NO,NO,2/4/2015,https://www.gpo.gov/fdsys/pkg/CHRG-114shrg9625...,114th Congress (2015 - 2016)_Senate Hearings_C...,98 p.

In [58]:
speech = pd.read_csv("csv/speech.csv")
speech.head()

,speech_id,previous_speech_id,subsequent_speech_id,hearing_id,conversation,text
0,2923502,2923501,2923503,19196,1,The Foreign Relations Committee will come ...
1,2923503,2923502,2923504,19196,1,"Senator Corker, first of all, thank you fo..."
2,2923504,2923503,2923505,19196,1,Without objection._x000D_\n_x000D_\nthe ``...
3,2923505,2923504,2923506,19196,1,I am glad that these entities that have so...
4,2923506,2923505,2923507,19196,1,"Thank you, Chairman Corker. I will be brie..."

In [59]:
speaker = pd.read_csv("csv/speaker.csv")
speaker.head()

   speech_id  person_id surname
0    2923502      18413  corker
1    2923503        182  cardin
2    2923504      18413  corker
3    2923505      18413  corker
4    2923506      27586   coons

In [60]:
person = pd.read_csv("csv/person.csv")
person.head()

,Unnamed: 0,bio_guide_id,first_name,full_name,gpo_id,honorific,middle_name,person_id,person_id.1,surname
0,0,NaN,hon.,hon. lamar s. smith,1075.0,NaN,lamar s.,1.0,NaN,smith
1,1,NaN,hon.,hon. lamar s. smith,1075.0,NaN,lamar s.,1.0,NaN,smith
2,2,NaN,hon.,hon. lamar s. smith,1075.0,NaN,lamar s.,1.0,NaN,smith
3,3,NaN,hon.,hon. lamar s. smith,1075.0,NaN,lamar s.,1.0,NaN,smith
4,4,NaN,hon.,hon. lamar s. smith,1075.0,NaN,lamar s.,1.0,NaN,smith

## But how do we create CSV files?
There are two ways.

### 1.2.1 Use the datascience module  [Recommended]
First thing you need to do is install the datascience module on your terminal

pip install datascience

In [61]:
import datascience as ds

#Create a table with the desired column names
columns = ("hearing_id", "committee_id", "subcommittee_id","hearing_title", "is_appropriation", "is_nomination", "date","url","file","extent")
hearing_table = ds.Table(columns)

#Add data to the table. Direct your parser to store data as an array and them add that array into your table.
row = ["1", "1", "1", "Example hearing", "1", "0", "2018/01/01", "someurl.gov", None, None]
hearing_table = hearing_table.with_row(row)

#Save the data as a csv file
hearing_table.to_csv("sample/hearing_csv_made_using_ds.csv")

In [80]:
mushrooms_table = ds.Table(("mushroom_id", "mushroom_name"))
#mushrooms_table = mushrooms_table.with_row(["1", "my mushroom"])

mushrooms_table = mushrooms_table.with_row(["1", None])

mushrooms_table.to_csv("sample/mushroom.csv")

Read the file and see that we've added a new row into the csv file

In [81]:
person = pd.read_csv("sample/mushroom.csv")
person.head()

   mushroom_id  mushroom_name
0            1            NaN

### Quiz: What happens when you add an empty array to the table?

In [63]:
# enter your answer here.

### 1.2.2 Using python's CSV writer

In [64]:
import csv

with open('sample/hearing_csv_made_using_csv.csv', 'w+') as csvfile:
    writer = csv.writer(csvfile, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    columns = ("hearing_id", "committee_id", "subcommittee_id","hearing_title", "is_appropriation", "is_nomination", "date","url","file","extent")
    writer.writerow(columns)
    row = ["1", "1", "1", "Second example hearing", "1", "0", "2018/01/01", "someurl.gov", None, None]
    writer.writerow(row)

In [65]:
person = pd.read_csv("sample/hearing_csv_made_using_csv.csv")
person.head()

,hearing_id,committee_id,subcommittee_id,hearing_title,is_appropriation,is_nomination,date,url,file,extent
0,1,1,1,Second example hearing,1,0,2018/01/01,someurl.gov,NaN,NaN

## 2. Now you have your CSV files, what next?
it's now time to create your sqlite database.
There are a couple of ways to do it.
1. Using pandas which is recommended. We will cover this next.

2. You can use the csvs-to-sqlite  library. Install it by running the following lines. then create your sqlite database as follows.

pip install csvs-to-sqlite 
csvs-to-sqlite hearing.csv  mydatabase.db
csvs-to-sqlite speech.csv   mydatabase.db
csvs-to-sqlite speaker.csv  mydatabase.db
csvs-to-sqlite person.csv   mydatabase.db

Let's see how we could use pandas to do this.

In [1]:
import sqlite3
import pandas as pd

connection = sqlite3.connect("mydatabase.sqlite") # create your database here.

hearing = pd.read_csv("csv/hearing.csv")



hearing.to_sql("hearing", connection,  if_exists='replace', index=True)



speech = pd.read_csv("csv/speech.csv")
speech.to_sql("speech", connection, if_exists='replace', index=True)
speaker = pd.read_csv("csv/speaker.csv")
speaker.to_sql("speaker", connection, if_exists='replace', index=True)
person = pd.read_csv("csv/person.csv")
person.to_sql("person", connection, if_exists='replace', index=True)

/home/mevey/miniconda3/lib/python3.6/site-packages/pandas/core/generic.py:1362: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

Now let's read  the contents we have saved.
How many speakers are there?

In [92]:
cursor = connection.cursor()

cursor.execute("SELECT count(*) FROM speaker;")
no_of_speakers = cursor.fetchall()
print(no_of_speakers)
#connection.close() # Always a good idea to close the connection

[(3402,)]

### Quiz: How many hearings are there?

In [95]:
#Answer here
connection = sqlite3.connect("newdatabase.sqlite")
cursor = connection.cursor()

cursor.execute("SELECT hearing_id FROM hearing;")
no_of_hearings = cursor.fetchall()
print(no_of_hearings)

[(19196,), (19197,), (19198,), (19199,), (19200,), (19201,), (19202,), (19203,), (19204,), (19205,), (19206,), (19207,), (19208,), (19209,), (19210,), (19211,), (19212,), (19213,), (19214,), (19215,), (19216,), (19217,), (19218,), (19219,), (19220,), (19221,), (19222,), (19223,), (19224,), (19225,), (19226,), (19227,), (19228,), (19229,), (19230,), (19231,), (19232,), (19233,), (19234,), (19235,), (19236,), (19237,), (19238,), (19239,), (19240,), (19241,), (19242,), (19243,), (19244,), (19245,), (19246,)]

# Flask

Flask is a lightweight framework fro writing web applications.It's called lightweight because it has little to no dependency on external libraries for it to function.
You write the code in python and you can run your apps locally or on the server.

To install flask, run the following on your terminal.

pip install Flask

## 3. Let's create a simple Flask app

When coding and running flask, you can no longer use jupyter notebooks. So for this section, follow along the instructions to see how you can run an example of flask.

Open the app.py file and you'll see the following code.

In [97]:
#!/usr/bin/env python

import flask

# Create the application.
app = flask.Flask(__name__)

@app.route('/')
def index():
    return flask.render_template('index.html')


if __name__ == '__main__':
    app.debug=True
    app.run()

Run

python app.py

In [ ]:
Then load http://127.0.0.1:5000/on your browser

### Quiz: What do you see when you load the link on your browser?

In [ ]:
# answer

## 4. Let's pull some data from the DB and access it from the browser

Add this to the top of the app.py page

In [ ]:
from flask import Response
import sqlite3
import json

Add this in the body of the text after hello function

In [ ]:
@app.route('/speakers')
def speakers():
    connection = sqlite3.connect("mydatabase.sqlite") 
    cursor = connection.cursor()
    cursor.execute("SELECT surname FROM speaker;")
    speakers = cursor.fetchall()
    return Response(json.dumps(speakers), mimetype='application/json')

### Quiz: What is the role of @app.route?

In [ ]:
#answer